.box{
    height: 730px;
    background-color: white;
}
.btn
{
     width: 100%;
     background-color: #ff9f43;
     border: #ff9f43;
     height: 42px;
}
.btn:hover{
    background-color: white;
    color: #ff9f43;
    border:1px solid #ff9f43;
}
/* index.css */

.input-small,
.input-medium {
    border-color: #E56717;
}